.site-wrapper {
    width: 79%;
    // height: max-content;
    padding: 0 0px;
    margin: auto;



    // @include respond(md) {
    //     width: 79%;
    //     max-width: 1100px;
    //     padding: 0px;

    // }
}

.wrapper {
    width: 1440px;

}

.column-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-wrapper {
    width: 295px;
    height: max-content;
    margin: auto;
    padding: 0 0px;

}

.card-highlight-wrapper,
.card-details-wrapper {
    background-color: $secondary-color;
    height: 150px;


}

.package-details-wrapper {
    background-color: $secondary-color;
    height: 500px !important;
    border-radius: calc($smallest-sizing - 2px);
    width: 1110px;
}