// .style {
//     &-large {
//         height: 100vh;
//         @include respond(md){
//             height: 860px;

//         }
//         &-normal {
//             height: 150vh;
//             @include respond(sm){
//                 width: 80%;

//             }
//         }
//     }
// }

//This is the header nav section
.nav-bg {
    background-color: $main-bg-color;
    line-height: $small-sizing;
    width: 100%;

    .nav-top {
        display: flex;
        width: 100%;
        justify-content: space-between;
        line-height: $small-sizing;
        align-items: center;
        color: $header-color;
        font-style: normal;


    }

    .nav-enquiry {
        display: flex;
        justify-content: space-between;

        p {
            font-size: $smallest-sizing;
            font-style: normal;
            font-weight: 700;
        }
    }

    .nav-btp-loyalty {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

    }

    .nav-btp {
        display: flex;
        gap: $larger-sizing - 4px;
        align-items: center;

        p {
            font-style: normal;
            font-weight: 400;
            font-size: $smallest-sizing;

        }
    }

    .nav-loyalty {

        display: flex;
        gap: $larger-sizing - 4px;
        align-items: center;

        p {
            font-size: $smallest-sizing;
            font-weight: 400;
        }


    }
}


//This is my nav man secion
.nav-main {
    height: 120px;
    align-items: center;
    display: flex;
    width: 100%;
    background-color: $secondary-color;

    .best-tour-plan {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 108px;
    }


    .search-input {
        width: 350px;
        height: calc($largest-sizing + 4px);
        //
        padding-left: $Large-sizing + 2px;
        color: $header-color;
        background-color: $main-bg-color;
        border-radius: calc($smallest-sizing - 4px);
        border: none;
    }

    .search-button {
        border: none;
        cursor: pointer;
        width: calc($extralarge-sizing + 1px);
        height: calc($largest-sizing + 4px);
        padding: 0px;

    }

    .menu {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        width: 18%;

    }
}

// .nav {
//     position: relative;
// }



// .logo {

//     width: 177px;
//     height: $larger-sizing;



// }

.nav-bottom {

    background-color: $tertiary-color;
    width: 100%;

    .nav-buttom-list {
        display: flex;
        width: 100%;
    }

}





.bread-crumb {

    width: 100%;

    /* Style the list */
    ul.breadcrumb {
        width: 238px;
        height: calc($larger-sizing + 1px);
        line-height: $small-sizing !important;
        cursor: pointer;

    }

    /* Display list items side by side */
    ul.breadcrumb li {
        display: inline;
        font-size: $smallest-sizing !important;
    }

    /* Add a slash symbol (/) before/behind each list item */
    ul.breadcrumb li+li:before {

        color: $tertiary-color !important;
        content: "/\00a0";
    }

    /* Add a color to all links inside the list */
    ul.breadcrumb li a {
        color: $tertiary-color !important;
        text-decoration: none;
        font-size: $smallest-sizing !important;
        font-family: 'Mulish';
        font-weight: 400 !important;

    }
}



.hotel-wrapper {
    @extend .wrapper;
    height: 550px;
    background-color: $main-bg-color;

    .hotel-name {
        display: flex;
        justify-content: space-between;
        width: 1102px;
        align-items: center;

    }

    .stars {
        width: calc($largest-sizing + 12px);
        height: calc($smallest-sizing - 2px);

    }

    .hilton-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 388px;
        height: 50px;

        h3 {

            font-size: $larger-sizing;
            font-weight: 700;
            line-height: 30px;
            color: $header-color;
            width: 268px;
            height: 30px;

        }

        span {
            width: 70px;
            height: 29px;
            background: #EC1F46;
            border-radius: 3px;
            display: flex;
            justify-content: center;

            p {

                font-weight: 600;
                font-size: $smallest-sizing;
                line-height: 13px;
                color: $secondary-color;
            }
        }
    }

    .half-board {
        width: 389px;
        height: calc($medium-sizing + 1px);
        color: $header-color;
        display: block;

        p {
            font-weight: 400;
            font-style: normal;
            font-size: $smaller-sizing;
            line-height: calc($medium-sizing + 1px);
            color: $header-color;

        }

    }

    .user-rating {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
        height: 55px;
        background-color: $primary-color;
        border-radius: 4px;


        .user {
            font-style: normal;
            font-size: calc($smallest-sizing - 2px);
            font-weight: 600;
            line-height: $smallest-sizing;
            color: $secondary-color;

            .rate {
                width: 67px;
                height: 18px;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    font-size: $medium-sizing;
                    font-weight: 700;
                    line-height: 18px;
                    font-family: 'Mulish';
                }
            }
        }
    }

    .slider {
        display: flex;
        justify-content: space-between;
        width: 1098px;
        height: 450px;

        .beach {
            width: 728px;
            height: 450px;
            background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
            border-radius: calc($smallest-sizing - 2px);
        }
    }

    .view-options {
        background-color: $tertiary-color;
        width: 350px;
        height: 210px;
        border-radius: calc($smallest-sizing - 2px);

        .price-room {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            align-items: center;

            .price {
                color: $secondary-color;
                width: 86px;
                height: 59px;

                p {
                    margin: 0 !important;
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 400;
                    font-size: $smallest-sizing;
                    line-height: $medium-sizing;
                    width: 100px;
                    height: 14px;
                }

                strong {

                    width: 85px;
                    height: 33px;
                    font-family: 'Nunito';
                    font-size: $larger-sizing;
                    font-weight: 800;
                    line-height: calc($largest-sizing - 3px);
                }
            }

            .room {
                color: $secondary-color;
                width: 80px;
                height: max-content;
                display: flex;
                flex-direction: column;



                span {
                    p {
                        width: 100px;
                        height: 16px;
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 400;
                        font-size: $smaller-sizing;
                        line-height: calc($medium-sizing + 2px);
                        margin: 8px;
                    }
                }

            }

        }

        .booking {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 295px;
            height: calc($larger-sizing + 1px);
            color: $secondary-color;
            align-items: center;
            padding-top: $smallest-sizing;

            h4 {
                width: 119px;
                height: 25px;
                font-family: 'Nunito';
                font-weight: 600;
                font-size: $Large-sizing;
                font-style: normal;
                line-height: calc($larger-sizing + 1px);
            }

            span {
                p {
                    width: 100px;
                    height: 25px;
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 600;
                    font-size: $Large-sizing;
                    line-height: calc($larger-sizing + 1px);
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;


                    img {
                        width: 13.31px;
                        height: 13.42px;

                    }

                }
            }
        }

        .view-other-options {


            background-color: $primary-color;
            border-radius: 4px;
            width: 295px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;

            margin-top: calc($Large-sizing - 1px);

            p {
                a {
                    color: $secondary-color;
                    width: 127px;
                    height: calc($Large-sizing + 1px);
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 600;
                    font-size: $medium-sizing;
                    line-height: calc($Large-sizing + 1px);

                }
            }

        }
    }
}



.map {


    // background: url(.png);
    border-radius: $smallest-sizing
}



.package-section {

    @extend .wrapper;
    height: max-content;
    background-color: $main-bg-color;

    .package-contianer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .package-menu {
            display: flex;
            justify-content: space-between;
            width: 100%;



            p {



                color: $header-color;
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 700;
                font-size: $medium-sizing;
                line-height: $Large-sizing;

            }


        }

        .package-summery {
            width: 1110px;
            height: 900px;
            max-height: max-content;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3 {
                margin-bottom: 0;
            }

            .package-offer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 200px;
                width: 1110px;

                .package-card1,
                .package-card2 {
                    width: 538px;
                    height: 200px;

                    .highlight-header,
                    .details-header,
                    .card-head {
                        background-color: $tertiary-color;
                        width: 100%;
                        display: flex;
                        height: 50px;
                        color: #fff;
                        border-radius: 4px 4px 0px 0px;
                        align-items: center;

                        h5 {
                            margin-left: calc($larger-sizing - 4px);
                            width: 180px;
                            height: $Large-sizing;
                            font-family: 'Mulish';
                            font-style: normal;
                            font-weight: 700;
                            font-size: $medium-sizing;
                            line-height: $Large-sizing;
                        }

                        .card-highlight {
                            display: flex;
                            justify-content: space-between;
                            width: 479px;
                            height: 96px;
                            margin-left: calc($larger-sizing - 4px);
                            padding-top: calc($larger-sizing - 4px);
                            padding-bottom: calc($larger-sizing - 4px);

                            .card1,
                            .card2 {
                                p {
                                    display: flex;
                                    align-items: center;
                                    font-family: 'Mulish';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: $smaller-sizing;
                                    line-height: calc($medium-sizing + 1px);
                                    color: $header-color;
                                }
                            }


                        }

                        .card-Details {
                            @extend .card-highlight;
                            padding-bottom: 0px !important;

                            .card1 {


                                display: flex;
                                justify-content: center;

                                .design {
                                    display: flex;
                                    flex-direction: column;
                                    height: 103px;
                                    width: 168px;
                                    justify-content: space-between;

                                    p {
                                        margin: 0;
                                    }
                                }

                            }

                            .card2 {
                                display: flex;
                                width: 46%;
                                height: 20px;

                                p {
                                    width: 216px;

                                    font-family: 'Mulish';
                                    font-weight: 400;
                                    font-size: $medium-sizing;
                                    line-height: $Large-sizing;

                                }

                            }


                        }

                    }
                }
            }

            .package-card-details {
                width: 1110px;
                height: 550px;

                .summary-details {
                    @extend .card-highlight;
                    height: 405px !important;
                    width: 1049px !important;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;


                    .first-three {
                        display: flex;
                        justify-content: space-between;
                        height: 314px;
                        border-bottom: 1px dashed #E0E0E0;
                        // border-style: dotted;


                        // &:nth-child(3n) {
                        //     border-bottom: 2px solid $header-color;
                        // }
                    }

                    .last-three {
                        display: flex;
                        justify-content: space-between;
                    }

                    .activity1 {
                        // width: 258px;
                        height: 300px;

                        h6 {
                            color: $primary-color;
                            width: 122px;
                            height: 16px;
                            font-family: 'Mulish';
                            font-style: normal;
                            font-weight: 600;
                            line-height: calc($Large-sizing - 2px);
                            margin-bottom: 0;
                        }

                        .first {
                            display: flex;
                            flex-direction: column;

                            p {
                                align-items: center;
                                display: flex;
                                font-family: 'Mulish';
                                font-style: normal;
                                line-height: calc($medium-sizing + 1px);
                            }

                        }
                    }

                    .activity2 {
                        // width: 284px;
                        height: 238px;

                        h6 {
                            color: $primary-color;
                            width: 240px;
                            height: 16px;
                            font-family: 'Mulish';
                            font-style: normal;
                            font-weight: 600;
                            line-height: calc($Large-sizing - 2px);
                            margin-bottom: 0;
                        }

                        .first {
                            display: flex;
                            flex-direction: column;

                            p {
                                align-items: center;
                                display: flex;
                                font-family: 'Mulish';
                                font-style: normal;
                                line-height: calc($medium-sizing + 1px);
                            }

                        }
                    }

                    .activity3 {
                        // width: 238px;
                        height: 233px;

                        h6 {
                            color: $primary-color;
                            width: 240px;
                            height: 16px;
                            font-family: 'Mulish';
                            font-style: normal;
                            font-weight: 600;
                            line-height: calc($Large-sizing - 2px);
                            margin-bottom: 0;
                        }

                        .first {
                            display: flex;
                            flex-direction: column;

                            p {
                                align-items: center;
                                display: flex;
                                font-family: 'Mulish';
                                font-style: normal;
                                line-height: calc($medium-sizing + 1px);
                            }

                        }
                    }

                    .activity4 {
                        // width: 121px;
                        height: 90px;
                        width: 192px;

                        h6 {
                            color: $primary-color;
                            width: 122px;
                            height: 16px;
                            font-family: 'Mulish';
                            font-style: normal;
                            font-weight: 600;
                            line-height: calc($Large-sizing - 2px);
                            margin-bottom: 0;
                        }

                        .first {
                            display: flex;
                            flex-direction: column;

                            p {
                                align-items: center;
                                display: flex;
                                font-family: 'Mulish';
                                font-style: normal;
                                line-height: calc($medium-sizing + 1px);
                            }

                        }
                    }

                    .activity5 {
                        // width: 194px;
                        height: 90px;

                        h6 {
                            color: $primary-color;
                            width: 122px;
                            height: 16px;
                            font-family: 'Mulish';
                            font-style: normal;
                            font-weight: 600;
                            line-height: calc($Large-sizing - 2px);
                            margin-bottom: 0;
                        }

                        .first {
                            display: flex;
                            flex-direction: column;

                            p {
                                align-items: center;
                                display: flex;
                                font-family: 'Mulish';
                                font-style: normal;
                                line-height: calc($medium-sizing + 1px);
                            }

                        }
                    }

                    .activity6 {
                        // width: 163px;
                        height: 90px;

                        h6 {
                            color: $primary-color;
                            width: 240px;
                            height: 16px;
                            font-family: 'Mulish';
                            font-style: normal;
                            font-weight: 600;
                            line-height: calc($Large-sizing - 2px);
                            margin-bottom: 0;
                        }

                        .first {
                            display: flex;
                            flex-direction: column;

                            p {
                                align-items: center;
                                display: flex;
                                font-family: 'Mulish';
                                font-style: normal;
                                line-height: calc($medium-sizing + 1px);
                            }

                        }
                    }
                }


            }
        }
    }
}