.menu {

    &-normal {

        // height: 150vh;

        display: none;
        @include respond(sm) {

        }
    }

    &-large {
        // height: 150vh;

        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        width: 18%;
        @include respond(md) {
          

        }
    }
}

// .slider {
//     display: flex;
//     flex-direction: row;

//     &-normal {

//         @include respond(sm) {
//             display: flex;
//             flex-direction: column;
//         }
//     }


// }